@import "tailwindcss";

:root {
    /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    font-family: monospace, monospace;
    
    /*
    max-width: 1600px;
    margin: 0 auto;
    */
    
  }